* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85c1cd;

}

.weatherContainer {
    margin: 4rem;
    padding: 4rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 120px 60px #e1e349;
}

#weatherForm input {
    border: none;
    color: rgb(199, 67, 67);
    outline: none;
    font-size: 1.3rem;
    font-family: sans-serif;
    background-color: white;
}

#weatherForm ul li {
    list-style: none;
}

.searchBtn {
    background: none;
    background-color: rgb(123, 215, 98);
    border: none;
}

.searchBtn ul li {
    list-style: none;
    font-size: 1.2rem;
}

#weatherForm {
    display: flex;
    justify-content: space-around;
}

.appHeading {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

#city {
    text-transform: capitalize;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

.weatherContainer img {
    width: 55%;
}

#temp {
    word-spacing: 8px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

#temp sup {
    font-size: 1.5rem;
}

.weatherMain {
    font-family: sans-serif;
}

#todayTime,
.todayDates {
    font-family: sans-serif;
    line-height: 2rem;
}


/* Utility Class */
.d-flex {
    display: flex;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.f-col {
    flex-direction: column;
}

/* Media Query for responsive */
@media screen and (max-width: 307px) {
    #weatherForm {
        flex-direction: column;
    }

    #weatherForm input {
        text-align: center;
        margin-bottom: 1rem;
    }
}